body
{
    background-color: #D4ECDD;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
}
div
{
    background-color: #D4ECDD;
}
h1
{
    color: #66BFBF;
    margin: 2.6rem auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 562.5%;
   /* line-height: 2; */
}
h2
{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
}
h3
{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}
.top-cr
{
    position: relative;
    padding-top: 100px;
}
.mid-cr
{
    
}
.bottom-cr
{
   
}
.Buttom-cloud
{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.Top-cloud
{
    position: absolute;
    right: 300px;
    top: 50px;
}
.contact-me
{
}
.footer-link
{
    color: #11999E;
}